@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
    min-height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  .divider:after,
  .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: #eee;
  }

  .h-custom {
      height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
      .h-custom {
          height: 100%;
      }
  }